* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.users-container {
  width: 90%;
  margin: 20px auto;
}

.users-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.user-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.user-card h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
}

.user-card p {
  margin-bottom: 8px;
  font-size: 14px;
  color: #444;
}

.user-card span {
  font-weight: bold;
  color: black;
}

.company-details,
.geo-details,
.address-details {
  margin-left: 20px;
}

.user-address,
.user-contact,
.user-company,
.user-information,
.address-geo {
  margin-bottom: 12px;
}